[Unit]
Description=Waiting for eth0 or wlan0 to get an IPv4 address.
Documentation=https://github.com/mhightower83/ifup-wait-dhcpcd/wiki
# Watch for a specific interface to update. 
# Uses /etc/dhcpcd.enter-hook to provide that indication.

DefaultDependencies=no
Requires=network.target
After=network.target
Before=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
TimeoutStartSec=2min
ExecStart=/bin/sh -ec '\
  while [ ! -f /var/run/dhcpcd/ipv4_interface/eth0 ] && \
        [ ! -f /var/run/dhcpcd/ipv4_interface/wlan0 ]; \
    do sleep 0.2; done'

[Install]
WantedBy=network-online.target
